.thumbnail{
  width: 100%;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.time{
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;

  right: 10px;
  bottom: 10px;
  color: white;
  background-color: black;
}

.profile{
  cursor: pointer;
}

.profile,
.hover-profile{
  border-radius: 50px;
  width: 36px;
}

.p1{
  font-weight: 500;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.p2,.p3{
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 0;
}

.p3{
  margin-top: 4px;
}

.profile-icon-space{
  width: 50px;
  vertical-align: top;
  position: relative;
}

.v2{ 
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-icon-space .profile-details{
  height: 60px;
  position: absolute;
  left: 0;
  top: 40px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;

  border-radius: 6px;
  background-color: white;

  display: flex;
  flex-direction: row;
  padding: 9px 13px 9px 13px;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.hover-profile:hover .profile-details{
  opacity: 1;
}

.profile-details .details-thumbnail{
  margin-right: 14px;
  border-radius: 50px;
  height: 60px;
}

.profile-name{
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 6px;
  width: 170px;
}

.profile-subscribers{
  font-size: 14px;
}

.columngrid{
  display: grid;

  column-gap: 20px;
  row-gap: 45px;

}

@media (max-width: 750px){
  .columngrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) and (max-width: 1049px){
  .columngrid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1050px){
  .columngrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}